@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary-0: #2F6184;
    --color-primary-1: #759DB9;
    --color-primary-2: #497899;
    --color-primary-3: #1B4D70;
    --color-primary-4: #0A3858;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-primary-1);
}

.header-logo {
    width: 300px;
}
